/**
 * @Author: Ali
 * @Date:   2018-04-28T14:57:28+02:00
 * @Last modified by:   Ali
 * @Last modified time: 2018-04-29T12:50:18+02:00
 */
 ul {
     overflow: auto;
 }
 ul li {
     float: left;
     border: 1px solid blue;
     padding: 10px;
     margin: 0 20px;
 }
span {
  background-color: lightblue
}
